.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 80px;
  border-right: 1px solid var(--gray-6);
}

.main {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 80px;
}