.product-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.product-header__back {
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 0px #D3D1D84D;
  cursor: pointer;
}
.product-header__back:hover {
  background-color: #f8f8f8;
  box-shadow: 5px 10px 20px 0px #D3D1D84D;
}
.product-header h1 {
  flex: 1;
}
.product {
  display: flex;
  gap: 30px;
}
.product__img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 323px;
  height: 248px;
  border-radius: 20px;
}
.product__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.product__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product__price {
  font-size: 19px;
}
.product__price span {
  font-size: 14px;
  color: var(--gray-2);
}
.product__hr {
  border-top: 1px solid var(--gray-7);
}
.product__rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 12px;
  padding: 10px;
  box-shadow: 5px 10px 20px 0px #D3D1D84D;
  border-radius: 20px;
}
.product__structure-title {
  margin-bottom: 20px;
}
.product__structure-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: var(--gray-1);
  padding-left: 17px;
}