.search-input {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.0469 11.3999L14.4999 14.4999' stroke='%23434B67' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M7 13C10.3137 13 13 10.3137 13 7C13 3.68629 10.3137 1 7 1C3.68629 1 1 3.68629 1 7C1 10.3137 3.68629 13 7 13Z' stroke='%23767F9D' stroke-width='2'/%3e%3c/svg%3e ") 20px 50% no-repeat;
  min-width: 250px;
  height: 50px;
  font-size: 17px;
  color: var(--black);
  border: 1px solid var(--gray-6);
  padding: 0 20px 0 50px;
  border-radius: 10px;
} 
.search-input::placeholder {
  color: var(--gray-4);
}
